.image-part {
    min-height: 60%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxShadow {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.spaceEvenly {
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
}

.space {
    padding: 10px;
    /*display: flex;*/
    /*justify-content: flex-end;*/
}

.spacy {
    display: flex;
    justify-content: space-between;
}

.submit {
    font-weight: 600;
    color: rgb(89, 10, 0);
    background: #f7fafc;
    width: 13rem;
    text-align: center;
}

@media (min-width: 768px) {
    .mobile-view {
        display: none;
    }
}

@media (max-width: 767px) {
    .desktop-view {
        display: none;
    }
}

